body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    color: #4f4f4f;
    overflow-x: hidden;
  }
  
  /*--------------header --------------*/
  ::-webkit-scrollbar {
    width: 11px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 20px;
  }
  
  h2 {
    color: #4f4f4f;
  }
  
  li,
  a,
  button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
  }
  
  header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    height: 40px;
    width: 100%;
    background: #ffffff;

  }
  .logo {
    cursor: pointer;
    height: 56.5px;
    width: auto;
    padding-left: 20px;
  }
 
  .primary-btn {
    padding: 10px 50px;
    font-size: 18px;
    background-color: #45a6d5;
    border: 1px solid #45a6d5;
  
    font-family: "Poppins", sans-serif;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .primary-btn a {
    color: white;
  }
  
  .sec-btn a {
    color: #45a6d5;
  }
  .primary-btn:hover {
    background-color: #48a1ca;
  }
  
  .sec-btn {
    padding: 10px 50px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #45a6d5;
    font-family: "Poppins", sans-serif;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .main-banner {
    padding: 10%;
    display: flex;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-color: #45a6d5;
  }
  .right-col h2 {
    font-size: 60px;
    font-weight: 900;
    color: #ffff;
    
  }
  
  .right-col h2 span {
    color: #45a6d5;
  }
  
  .right-col p {
    font-size: 15px;
    color: #ffff;
    padding-right: 45px;
  }
  
  .right-col {
    padding: 20px 0 0 0;
    width: 700px;
    height: 62px;
    left: 160px;
    top: 193px;
  }
  
  .banner-img{
    width: 1000px;
    height: auto;
    left: 200px;
    right: 300px;
  }
  .widget-input {
    padding: 15px 50px;
    font-size: 18px;
  }
  
  .widget-bg {
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .search-btn {
    font-size: 18px;
    background-color: #1c90c6ad;
    justify-content: space-between;
    height: 55px;
    width: 250px;
    margin-top: auto;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 5px;
  
  }

  .banner-img{
    width: 300px;
    height: 500px;
    right: 300px;
  }
  
  .search-btn a {
    color: #ffffff;
    margin-bottom: 4%;
  }
  
  .testimonials {
    width: 100%;
    height: 1102px;
    background-image: linear-gradient(to bottom, #fbfbfb, #e9f1ff);
  }
  
  .testimonial-card {
    background: #ffffff;
    border-radius: 50px;
    width: 721px;
    height: 300px;
    padding: 40px 40px 0px 20px;
  }
  
  .top-content {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
  }
  
  .top-content p {
    margin-left: 30px;
  }
  
  .bottom-content {
    display: flex;
    padding-left: 30px;
    margin-top: 30px;
  }
  
  .bottom-content img {
    height: 80px;
    width: 80px;
  }
  
  .reviewer-detail {
    margin-left: 50px;
  }
  
  .testimonial-title {
    margin-left: 150px;
  }
  
  .testimonials {
    margin-top: 100px;
    padding-top: 100px;
    height: 722px;
  }
  
  .testimonials-container {
    display: flex;
    padding-right: 20px;
    margin-left: 100px;
    margin-top: 50px;
  }
  
  .testimonial-card {
    margin-left: 40px;
  }
  
  .steps{
      display: flex;
      margin-left: 200px;
  }
  
  .steps_details{
    padding: 36px;
    margin-left: 24px;
  }
  .steps_details p {
    align-items: center;
  }

  .icons{
    width: 60px;
    height: 62px;
    left: 206px;
    top: 1023px;

  }

  .drag{
    background-color: #45a6d5;
    height: 300px;
    border-radius: 20px;
  }
  .drag-container{
    display: flex;
    margin-left:350px;
    padding-top: 130px;
  }

  .drag-container h2{
    color: #fff;
  }
  

  .upload-img{
    margin-right: 70px;
  }

.drag-section{
  padding: 100px;
}

footer {
    width: 100%;
    height: 414px;
    background: #414141;
    border-radius: 50px 50px 0px 0px;
  }
  
  .footer-logo {
    margin-left: 150px;
    margin-top: 60px;
  }
  
  .footer-title h2,
  .footer-title p {
    color: white;
    display: flex;
    justify-content: center;
  }
  .footerForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footerEmail{
      width: 500px;
      margin-right: 1%;
      border-radius: 10px;
  }
  .footer-content{
    color: white;
    padding: 15px;
  }
  .footer-content p {
    font-size: 15px;
    margin: 0;
  }
  .footerDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    color: white;
  }
  .footer-socialmedia{
    text-align: center;
    padding: 12px;
  }
  .vline{
    width: 2px;
    margin-top: 3%;
    background-color: white;
  }
  .hr{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 2%;
  }
  .footer-bottom{
     display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-weight: bold;
  }
  .cpryt{
    text-align: center;
    color: white;
  }
  