.main {
    text-align: center;
    background-color: #45a6d5;
    padding-top: 20px;

}

.context {
    color: #fff;
    font-family: "Manrope", sans-serif;
}

.link-box {
    background: #ffffff;
    border-radius: 10px;
    width: 60%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.link-box h5 a {
    color: black;
}

/*responsiveness for mobile*/
@media screen and (max-width : 1024px) {}