.frame{
    background:#45A6D5;
    width: 1440px;
    height: 780px;
    left: 0px;
    top: 117px;
}
.user-details{
    display: flex;
    justify-content: space-between;

}
.user-image{
    border-radius: 50%;
    position: absolute;
    width: 130px;
    height: 110px;
    left: 10px;
    top: 57px;
}
.user-name{
    position: absolute;
    width: 130px;
    height: 110px;
    left: 180px;
    top: 120px;
}
.user-institute{

}